[submodule "Birthday-Card"]
	path = Birthday-Card
	url = https://github.com/abdulrahmans0414/Birthday-Card.git
[submodule "Business-Card"]
	path = Business-Card
	url = https://github.com/abdulrahmans0414/Business-Card.git
[submodule "Google-Clone"]
	path = Google-Clone
	url = https://github.com/abdulrahmans0414/Google-Clone.git
[submodule "CV"]
	path = CV
	url = https://github.com/abdulrahmans0414/CV.git
